body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.filter-wrapper {
  width: 100%;
}

.card {
  width: 256px;
  margin: 12px;
  line-height: 0;
}

.image {
  background: transparent url(./static/icon.svg) no-repeat scroll center center;
}

.images-wrapper {
  
}

.filter {
  margin: 12px 12px 12px 12px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breed {
  font-size: 12px;
  cursor: pointer;
  color: #424242;
  list-style-type: none;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px;
}

.breed:hover {
  background-color: #f4f4f4;
}

.navbar {
  background-color: white;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  display: flex;
  height: 48px;
  margin: 0px;
  padding: 0px;
}

.logo {
  text-decoration: none;
  fill: deepskyblue;
  color: #424242;
  display: flex;
  align-self: center;
  line-height: 48px;
  text-align: left;
  padding: 0 8px 0 8px;
}
.logo:hover {
  fill: #101010;
  color: #101010;
  background-color: #cfcfcf;
}

#logo-icon {
  height: 38px;
  width: 38px;
  align-self: center;
}

#logo-sign {
  padding: 0 8px 0 8px;
  align-self: center;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #101010;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
